# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtual Environment
venv/
env/
ENV/
.env

# OS files
.DS_Store
Thumbs.db
